<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/exploremycityicon"
        android:label="Explore My City"
        android:roundIcon="@drawable/exploremycityicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".IntroScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".CoffeeActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".RestaurantActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".SpaActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".KidActivity"
            android:exported="true">
        </activity>

        <activity
            android:name=".ShoppingActivity"
            android:exported="true">
        </activity>

    </application>

</manifest>